---
layout: default
title: 3DXL - Categories
---

{% for category in site.categories %}
  {% assign categoryName = category[0] %}
  {% assign posts = category[1] %}
  <h2><a name="{{ categoryName }}">{{ categoryName }}</a></h2>
  <ul>
    {% for post in posts %}
      <li>
        {% if post.thumbnail %}
          <a href="{{ post.url }}">
            <img style="width: 96px" src="{{ post.thumbnail }}"/>
          </a>
        {% else %}
          <span style="width: 96px">&nbsp;</span>
        {% endif %}
        {{ post.date | date_to_string }} - <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
