---
layout: default
title: 3DXL
---

<div class="gallery">
  <div class="slide" style="background-image: url(/photos/IMG_20140228_143132336_HDR.jpg);"></div>
  {% for post in site.posts %}
    {% if post.gallery %}
      <a class="slide" href="{{ post.url }}" style="background-image: url({{ post.gallery }});"></a>
    {% endif %}
  {% endfor %}
  <div class="slide" style="background-image: url(/photos/IMG_20140228_125820302_HDR.jpg);"></div>
  <div class="slide" style="background-image: url(/photos/IMG_20140420_132724281.jpg);"></div>
</div>

<div id="home" class="jumbotron">
  <h1>Making 3D Excellent</h1>
  <p>Buildings, furniture, lighting and art.</p>
</div>
