---
layout: default
title: 3DXL
---

<div class="gallery">
  <div class="slide" style="background-image: url(/photos/IMG_20140228_143132336_HDR.jpg);"></div>
  {% for post in site.posts %}
    {% if post.gallery %}
      <a class="slide" href="{{ post.url }}" style="background-image: url({{ post.gallery }});"></a>
    {% endif %}
  {% endfor %}
</div>

<div id="home" class="jumbotron" style='text-align: center;'>
  <h1>Lab for 3D design & manufacturing</h1>
  <p style='font-variant:small-caps'>homebrew buildings, furniture, lighting and arts</p>
</div>
