---
layout: default
title: 3DXL
---

<div class="gallery">
  <div class="slide" style="background-image: url(/photos/IMG_20140228_143132336_HDR.jpg);"></div>
  {% for post in site.posts %}
    {% if post.gallery %}
      <a class="slide" href="{{ post.url }}" style="background-image: url({{ post.gallery }});"></a>
    {% endif %}
  {% endfor %}
  <div class="slide" style="background-image: url(/photos/IMG_20140228_125820302_HDR.jpg);"></div>
  <div class="slide" style="background-image: url(/photos/IMG_20140420_132724281.jpg);"></div>
</div>

<hr/>

<div id="home">
  <h1>Maximized 3d shaping</h1>
  <ul class="posts">
    {% for post in site.posts limit:10 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>