---
layout: default
---
<h1>{{ page.title }}</h1>

<p class="meta">
  {{ page.date | date_to_string }}
  {% for author in page.authors %}, <i>{{author}}</i>{% endfor %}
  {% for category in page.categories %}, {{category}}{% endfor %}
</p>

<div class="post">
{{ content }}
</div>

{% if post.previous or post.next %}
  <hr/>
  {% if post.previous %}
    <a class="pull-right" href="{{ post.next.url }}">{{ post.next.title }}</a>
  {% endif %}
  {% if post.previous %}
    <a class="pull-left" href="{{ post.previous.url }}">{{ post.previous.title }}</a>
  {% endif %}
{% endif %}